/*.body {
  background-image: url('Desktop\Project NOtes\background_light_py.jpg');
}*/

.button {
    background-color: #ffffff;
    
    color: rgb(0, 0, 0);
    padding: 15px 64px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 70px 5px;
    cursor: pointer;

  }

  .button {
    border-color: rgb(104, 97, 165);
    color:rgb(104, 97, 165);
  }
  
  .button:hover {
    background-color:rgb(104, 97, 165);
    color: white;
  }

  .LoginButton {
    background-color: #ffffff;
    border: none;
    color: rgb(0, 0, 0);
    padding: 2px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 100px;
    cursor: pointer;
    position: absolute;
    right: 70px;

  }
  .RegisterButton {
    background-color: #ffffff;
    border: none;
    color: rgb(0, 0, 0);
    padding: 2px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 100px; /* Margin = perithorio */
    cursor: pointer;
    position: absolute;
    right: -70px;
   
  }